<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
    <meta charset="UTF-8">

    <title th:text="${titulo}"></title>
    <style>
        html {
            font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
            color: #404040;
            background-color: #d3d3d3;
        }
        body {
            padding: 5em;
        }
        img {
            width: 300px;
        }
    </style>
</head>
<body>
<h1 class="color-rojo" th:text="${titulo}"></h1>
<h2 class="color-azul">Esta página ha sido servida a las <span th:text="${#temporals.format(hora, 'HH:mm')}"></span></h2>
<img th:src="@{/images/dua8.jpg}">
</body>
</html>